/* Gerais */
@font-face {
    font-family: PublicPixel;
    src: url("PublicPixel.ttf");
}

body{
    margin: 0;
    background-color: #0D262D;
    font-family: PublicPixel;
    letter-spacing: 0.2 em;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas{
    border: dodgerblue 4px solid;
}
main{
    display: flex;
    width: 95%;
    justify-content: space-between;
}
/* Buttons */
.opt-button{
    padding: 5px;
    width: 90px;
    height: 90px;
}
.opt-button:hover{
    transform: scale(110%);
    cursor: pointer;
}